.terraform.lock.hcl
.terraform/
Git-2.47.0.2-64-bit.exe
*.exe
creds.txt
terraform.exe
terraform.tfstate
terraform.tfstate.backup
terraform_1.9.8_windows_amd64.zip
terraform_1.9.8_windows_amd64/
id_rsa
id_rsa.pub